matplotlib==3.10.7
numpy==2.3.5
openai==2.8.1
pandas==2.3.3
python-dotenv==1.2.1 #kan muligvis fjernes da Sof ikke skal bruge den mere.
scikit_learn==1.7.2
seaborn==0.13.2
sentence_transformers==5.1.2
torch==2.9.1
tqdm==4.67.1
# transformers==4.57.2  ## sof's code might need this version
spacy
transformers==4.57.3
accelerate
umap-learn
together
anthropic
scipy
